.header {
  background-color: #ecf0f1;
}

.gallery {
  background-color: #bdc3c7;
}

.html {
  height: 100%;
  background-color: #bdc3c7;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(63, 58, 78);
}

.gallery-item1 img:hover {
  opacity: 0.5;
}

.gallery-item1 img:focus {
  opacity: 0.5;
}

.gallery-item1 img {
  width: 100%;
}

.gallery-item1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item2 img:hover {
  opacity: 0.5;
}

.gallery-item2 img:focus {
  opacity: 0.5;
}

.gallery-item2 img {
  width: 100%;
}

.gallery-item2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item3 img:hover {
  opacity: 0.5;
}

.gallery-item3 img:focus {
  opacity: 0.5;
}

.gallery-item3 img {
  width: 100%;
}

.gallery-item3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item4 img:hover {
  opacity: 0.5;
}

.gallery-item4 img:focus {
  opacity: 0.5;
}

.gallery-item4 img {
  width: 100%;
}

.gallery-item4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item5 img:hover {
  opacity: 0.5;
}

.gallery-item5 img:focus {
  opacity: 0.5;
}

.gallery-item5 img {
  width: 100%;
}

.gallery-item5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item6 img:hover {
  opacity: 0.5;
}

.gallery-item6 img:focus {
  opacity: 0.5;
}

.gallery-item6 img {
  width: 100%;
}

.gallery-item6 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item7 img:hover {
  opacity: 0.5;
}

.gallery-item7 img:focus {
  opacity: 0.5;
}

.gallery-item7 img {
  width: 100%;
}

.gallery-item7 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item8 img:hover {
  opacity: 0.5;
}

.gallery-item8 img:focus {
  opacity: 0.5;
}

.gallery-item8 img {
  width: 100%;
}

.gallery-item8 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item9 img:hover {
  opacity: 0.5;
}

.gallery-item9 img:focus {
  opacity: 0.5;
}

.gallery-item9 img {
  width: 100%;
}

.gallery-item9 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 8000px) {
  h1 {
    font-size: 55px;
    font-weight: bold;
  }
  .body {
    width: 970px;
    margin: 4% 4% 4% 4%;
  }
  .gallery {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    -moz-column-gap: 20px;
         column-gap: 20px;
    gap: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 970px) {
  h1 {
    font-size: 47px;
    font-weight: bold;
  }
  .body {
    width: 750px;
    margin: 4% 4% 4% 4%;
  }
  .gallery {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    -moz-column-gap: 20px;
         column-gap: 20px;
    gap: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    font-weight: bold;
  }
  .body {
    width: 750px;
    margin: 4% 4% 4% 4%;
  }
  .gallery {
    display: grid;
    grid-template-columns: 47% 47%;
    -moz-column-gap: 20px;
         column-gap: 20px;
    gap: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 4%;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  .body {
    width: 750px;
    margin: 4% 4% 4% 4%;
  }
  .gallery {
    display: block;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gallery img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=index.css.map */