
.header {
    background-color:  #ecf0f1;
}
.gallery {
    background-color: #bdc3c7 ;
}
.html{
    height: 100%;
    background-color: #bdc3c7 ;
}
h1{
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 58, 78);
}


@each $number in 1, 2, 3, 4, 5, 6, 7, 8, 9{
    .gallery-item#{$number} img:hover  {
        opacity: 0.5;
    }
    .gallery-item#{$number} img:focus  {
        opacity: 0.5;
    }
    .gallery-item#{$number} img {
        width:100%
    }
    .gallery-item#{$number} {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width:8000px){
    h1{
        font-size: 55px;
        font-weight: bold;
    }
    .body {
        width: 970px;
        margin: 4% 4% 4% 4%;
    }
    .gallery {
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        column-gap: 20px;
        gap: 20px;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .gallery img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:970px){
    h1{
        font-size: 47px;
        font-weight: bold;
    }
    .body {
        width: 750px;
        margin: 4% 4% 4% 4%;
    }
    .gallery {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 20px;
        gap: 20px;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .gallery img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:768px){
    h1{
        font-size: 35px;
        font-weight: bold;
    }
    .body {
        width: 750px;
        margin: 4% 4% 4% 4%;
    }
    .gallery {
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 20px;
        gap: 20px;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 4%;
    }
    .gallery img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:540px){
    h1{
        font-size: 32px;
        font-weight: bold;
    }
    .body {
        width: 750px;
        margin: 4% 4% 4% 4%;
    }
    .gallery {
        display: block;
        padding-bottom: 5%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .gallery img{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}