h1{
   display: flex;
   flex-wrap: wrap;
   justify-content: center; 
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
html{
    background-color: rgb(21, 18, 22);
}
label, p{
    color: rgb(230, 220, 238);
}
label{
    display: block;          
    min-width: 300px;
    padding-left: 30px;
    margin-top: 10px;
}
input{
    background-color: rgb(57, 54, 59);
    border-style: none;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    margin-bottom: 17px;
    color: rgb(150, 139, 150);
    display: flex;
    justify-content: space-between;
}
.code button{
    background-color: rgb(117, 53, 129);
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.but{
    display: flex;
    justify-content: center;
}
.code select option{
    color: rgb(193, 182, 202);
}
.code select{
    border-style: calc(5px);
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color: rgb(57, 54, 59);
    color: rgb(150, 139, 150);
    margin-top: 15px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
form{
    display: flex;
    justify-content:flex-start ;
    width: 700px;
    flex-wrap: wrap;
    margin-top: 30px;
}
form p{
    color: rgb(230, 220, 238);
    width: 300px;
    margin-left: 30px;
}
form p input{
    text-align: left;
    margin-left: 200px; 
}
form select{
    width: 300px;
    background-color:  rgb(46, 43, 46) ;
    color: rgb(195, 186, 196);
    border-radius: 5px;
    height: 45px;
    font-size: 14px;
}
.fem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 700px;
    margin-top: 30px;
    margin-left: 30px;
}