@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lacquer&display=swap');

*{
    font-family: "IBM Plex Mono";
}
html{
    background-color: black;
}
.window{
    margin: 30px 30px 0px 30px;
    background-color: #D9D9D9;
    height: 60%;
    border-radius: 35px;
}
h1{
    margin-bottom: 0;
    text-align: center;
    margin-top: -40px;
    font-size: 50px;
    font-weight: 700;
    color: #5F1F1F;
}
.text1{
    margin: 60px 100px 0 100px;
    text-indent: 70px;
    font-weight: 500;
}
span{
    font-weight: 700;
    color: #5F1F1F;
}
.text2, .text3{
    margin: 50px 100px 0 550px;
    text-indent: 70px;
    float: right;
    font-weight: 500;
}
.window nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.window nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.window nav ul li{
    list-style: none;
}
.window nav ul{
    display: flex;
    margin-top: 30px;
}
.first{
    margin-left: 40px;
}
.second{
    margin-left: 150px;
}
.thirth{
    margin-left: 800px;
}
.fourth{
    margin-left: 200px;
}
.me{
    width: 600px;
    margin-top: -300px;
    border-radius: 35px;
}
.kitty{
    width: 670px;
    margin-left: -50px;
}
.shark{
    width: 500px;
    margin-left: 50px;
}
header img{
    margin-bottom: -5px;
}
h2{
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
}
.win h2{
    margin: 30px 30px 0px 100px;
}
.works h2{
    margin: 30px 30px 0px 80px;
}
.window1{
    margin: 30px 30px 0px 30px;
    background-color: #D9D9D9;
    border-radius: 35px;
    width: 100%;
    display: flex;
}
.left{
    margin-left: 60px;
}
.right{
    margin-left: 150px;
    margin-right: 40px;
}
.window1 .skill{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}
.window1 p{
    white-space: nowrap;
}
.window1 .pin{
    width: 60px;
    height: 60px;
    margin-right: 7px;
}
.paw{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.center{
    display: flex;
    margin-top: 50px;
}
.btn{
    display: flex;
}
.works{
    margin-left: 90px;
}
.works p{
    background-color: #D9D9D9;
    border-radius: 35px;
    width: 700px;
    height: 70px;
    padding: 47px 35px 0 290px;
    font-weight: 400;
    font-size: 18px;
}
.works button{
    border-style: none;
    background-color: #C88B8B;
    height: 150px;
    border-radius: 35px;
    box-shadow: 6px 8px 0px 4px #AF5C5C;
    font-size: 18px;
    color: #F0E9E9;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}
.pr{
    width: 1020px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.pr a{
    padding: 47px 0 0 0px;
}
.gr{
    width: 313px;
    margin-top: 15px;
    margin-right: 41px;
}
footer{
    background-color: #D9D9D9;
    margin: 120px -10px -10px -10px;
    padding: 0 300px 70px 300px;
    text-align: center;
}
h3{
    font-size: 50px;
    font-weight: 400;
    padding-top: 70px;
}
.contacts{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.contacts p{
    
    font-weight: 500;
}
.data{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1440px){
    h1{
        font-size: 46px;
    }
    .text1{
        margin: 50px 100px 0 100px;
        text-indent: 60px;
        font-weight: 400;
    }
    .text2, .text3{
        margin: 40px 100px 0 480px;
        text-indent: 60px;
        font-weight: 400;
    }
    .window nav ul li a{
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
    }
    .first{
        margin-left: 50px;
    }
    .second{
        margin-left: 110px;
    }
    .thirth{
        margin-left: 500px;
    }
    .fourth{
        margin-left:    150px;
    }
    .me{
        width: 490px;
        margin-top: -300px;
        border-radius: 35px;
    }
    .kitty{
        width: 470px;
        margin-left: -50px;
    }
    .shark{
        width: 350px;
        margin-left: 50px;
    }
    header img{
        margin-bottom: -4px;
    }
    h2{
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
    }
    .window1{
        margin: 20px 20px 0px 20px;
    }
    .left{
        margin-left: 60px;
    }
    .right{
        margin-left: 150px;
        margin-right: 25px;
    }
    .window1 .skill{
        margin-bottom: 30px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 15px;
    }
    .window1 .pin{
        width: 52px;
        height: 52px;
    }
    .paw{
        width: 25px;
        height: 25px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .center{
        display: flex;
        margin-top: 50px;
    }
    .btn{
        display: flex;
    }
    .works{
        margin-left: 90px;
    }
    .works p{
        width: 500px;
        height: 60px;
        padding: 40px 35px 0 113px;
        font-weight: 400;
        font-size: 15px;
    }
    .works button{
        height: 100px;
        border-radius: 35px;
        box-shadow: 5px 7px 0px 3px #AF5C5C;
        font-size: 15px;
        color: #F0E9E9;
        text-decoration: none;
        font-weight: 400;
        cursor: pointer;
    }
    .pr{
        width: 645px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .pr a{
        padding: 47px 0 0 0px;
    }
    .gr{
        width: 190px;
        margin-top: 15px;
        margin-right: 37px;
    }
    footer{
        background-color: #D9D9D9;
        margin: 100px -10px -10px -10px;
        padding: 0 300px 70px 300px;
        text-align: center;
    }
    h3{
        font-size: 43px;
    }
    .data{
        font-size: 16px;
        font-weight: 500;
    }
    .ss img{
        width: 40px;
    }
    
}
@media (max-width: 1024px){
    .window{
        margin: 20px 20px 0px 20px;
        height: 60%;
        border-radius: 35px;
    }
    .window nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .window nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 14px;
    }
    .window nav ul{
        margin-top: 30px;
    }
    .first{
        margin-left: 20px;
    }
    .second{
        margin-left: 60px;
    }
    .thirth{
        margin-left: 300px;
    }
    .fourth{
        margin-left: 100px;
    }
    h1{
        margin-top: -40px;
        font-size: 40px;
        font-weight: 600;
    }
    .text1{
        margin: 30px 70px 0 70px;
        text-indent: 70px;
        font-weight: 500;
        font-size: 14px;
    }
    span{
        font-weight: 600;
        color: #5F1F1F;
    }
    .text2{
        float: none;
        margin: 30px 70px 0 70px;
        font-weight: 500;
        font-size: 14px;
    }
    .text3{
        margin: 30px 70px 0 320px;
        text-indent: 60px;
        font-weight: 500;
        font-size: 14px;
    }
    .me{
        width: 310px;
        margin-top: -50px;
        border-radius: 35px;
    }
    .kitty{
        width: 350px;
        margin-left: -30px;
    }
    .shark{
        width: 250px;
        margin-left: 30px;
    }
    header img{
        margin-bottom: -4px;
    }
    h2{
        font-size: 30px;
    }
    .win h2{
        margin: 20px 30px 0px 70px;
    }
    .works h2{
        margin: 20px 30px 0px 70px;
    }
    .window1{
        margin: 20px 30px 0px 30px;
    }
    .left{
        margin-left: 40px;
    }
    .right{
        margin-left: 50px;
        margin-right: 0px;
    }
    .window1 .skill{
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
    }
    .window1 p{
        white-space: nowrap;
    }
    .window1 .pin{
        width: 48px;
        height: 48px;
        margin-right: 7px;
    }
    .paw{
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .center{
        margin-top: 40px;
    }
    .works{
        margin-left: 60px;
    }
    .works p{
        width: 370px;
        height: 55px;
        padding: 37px 20px 0 20px;
        font-weight: 500;
        font-size: 14px;
    }
    .works button{
        height: 84px;
        box-shadow: 5px 7px 0px 3px #AF5C5C;
        font-size: 14px;
        font-weight: 500;
    }
    .pr{
        width: 410px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .pr a{
        padding: 47px 0 0 0px;
    }
    .gr{
        width: 119px;
        margin-top: 15px;
        margin-right: 25px;
    }
    footer{
        background-color: #D9D9D9;
        margin: 80px -10px -10px -10px;
        padding: 0 300px 70px 300px;
        text-align: center;
    }
    h3{
        font-size: 35px;
        font-weight: 400;
        padding-top: 50px;
    }
    .contacts{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: -120px;
        margin-right: -120px;
    }
    .contacts p{
        font-weight: 500;
        font-size: 14px;
    }
    .data{
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
    }
}
@media (max-width: 768px){
    .window nav{
        display: none;
    }
    h1{
        margin-top: 30px;
        padding-top: 10px;
    }
    .me{
        width: 240px;
        margin-top: -80px;
        border-radius: 35px;
    }
    .kitty{
        width: 260px;
        margin-left: -30px;
    }
    .shark{
        width: 190px;
        margin-left: 20px;
    }
    header img{
        margin-bottom: -4px;
    }
    .text1{
        margin: 25px 60px 0 60px;
        text-indent: 50px;
    }
    .text2{
        float: none;
        margin: 25px 60px 0 60px;
        font-weight: 500;
        font-size: 14px;
        text-indent: 50px;
    }
    .text3{
        margin: 25px 60px 0 200px;
        text-indent: 50px;
        font-weight: 500;
        font-size: 14px;
    }
    h2{
        font-size: 27px;
    }
    .win h2{
        margin: 10px 30px 0px 70px;
    }
    .works h2{
        margin: 30px 30px 0px 70px;
    }
    .window1{
        margin: 20px 20px 0px 20px;
    }
    .left{
        margin-left: 80px;
    }
    .right{
        margin-left: 230px;
        margin-right: 20px;
    }
    .window1 .skill{
        margin-bottom: 35px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 15px;
    }
    .center{
        flex-wrap: wrap;
    }
    .works{
        margin-left: 20px;
    }
    .works p{
        width: 510px;
        height: 55px;
        padding: 40px 20px 0 180px;
        font-weight: 500;
        font-size: 14px;
    }
    .works button{
        height: 90px;
        box-shadow: 4px 6px 0px 2px #AF5C5C;
    }
    .pr{
        width: 710px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .pr a{
        padding: 47px 0 0 0px;
    }
    .gr{
        width: 220px;
        margin-top: 15px;
        margin-right: 25px;
    }
    footer{
        margin: 70px -10px -10px -10px;
        padding: 0 50px 70px 50px;
        text-align: center;
    }
    h3{
        font-size: 35px;
        font-weight: 400;
        padding-top: 50px;
    }
    .contacts{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }
    .contacts p{
        font-weight: 500;
        font-size: 14px;
    }
    .data{
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
    }
}
@media (max-width: 576px){
    .me{
        width: 300px;
        margin-top: 20px;
        border-radius: 35px;
    }
    .kitty{
        width: 270px;
        margin-left: -60px;
    }
    .shark{
        display: none;
    }
    .text3{
        margin: 25px 60px 0 60px;
        text-indent: 50px;
        font-weight: 500;
        font-size: 14px;
    }
    span{
        font-weight: 700;
        color: #5F1F1F;
    }
    header img{
        margin-bottom: -5px;
    }
    
    h2{
        font-size: 27px;
    }
    .win h2{
        margin: 10px 30px 0px 70px;
    }
    .works h2{
        margin: 30px 30px 0px 70px;
    }
    .window1{
        margin: 20px 20px 0px 20px;
    }
    .left{
        margin-left: 30px;
    }
    .right{
        margin-left: 110px;
        margin-right: 0px;
    }
    .window1 .skill{
        margin-bottom: 35px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 15px;
    }
    .center{
        flex-wrap: wrap;
    }
    .works{
        margin-left: 20px;
    }
    .works p{
        width: 435px;
        padding: 40px 20px 0 65px;
        font-size: 15px;
    }
    .works button{
        height: 100px;
        box-shadow: 4px 6px 0px 2px #AF5C5C;
        font-size: 15px;
    }
    .pr{
        width: 520px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .pr a{
        padding: 47px 0 0 0px;
    }
    .gr{
        width: 155px;
        margin-top: 10px;
        margin-right: 25px;
    }
    .contacts{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -20px;
    }
    .contacts p{
        font-weight: 500;
        font-size: 15px;
    }
    .data{
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
    }
    .ss, .phone, .em{
        margin-bottom: 20px;
    }
}
